<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">
    <bean id="idGenerator" class="classes.idgenerator.IdGeneratorSingletonDB" factory-method="getInstance"/>

    <bean id="userStorage" class="classes.model.behavior.storages.impl.DBUserStorage"/>
    <bean id="userManager" class="classes.model.behavior.managers.UserManager">
        <constructor-arg name="userStorage" ref="userStorage"/>
        <constructor-arg name="idGenerator" ref="idGenerator"/>
    </bean>

    <bean id="serviceStorage" class="classes.model.behavior.storages.impl.DBServiceStorage"/>
    <bean id="serviceManager" class="classes.model.behavior.managers.ServiceManager">
        <constructor-arg name="serviceStorage" ref="serviceStorage"/>
        <constructor-arg name="idGenerator" ref="idGenerator"/>
        <property name="activeServiceManager" ref="activeServiceManager"/>
    </bean>

    <bean id="activeServiceStorage" class="classes.model.behavior.storages.impl.DBActiveServiceStorage"/>
    <bean id="activeServiceManager" class="classes.model.behavior.managers.ActiveServiceManager">
        <constructor-arg name="activeServiceStorage" ref="activeServiceStorage"/>
        <constructor-arg name="idGenerator" ref="idGenerator"/>
        <constructor-arg name="serviceManager" ref="serviceManager"/>
        <property name="activator" ref="activator"/>
    </bean>

    <bean id="lockingManager" class="classes.model.behavior.managers.LockingManager">
        <constructor-arg name="userManager" ref="userManager"/>
        <constructor-arg name="activeServiceManager" ref="activeServiceManager"/>
        <constructor-arg name="serviceManager" ref="serviceManager"/>
        <constructor-arg name="typeOfLock" value="optimistic"/>
    </bean>

    <bean id="initializer" class="classes.processors.Initializer">
        <constructor-arg index="0" ref="userManager"/>
        <constructor-arg index="1" ref="activeServiceManager"/>
        <constructor-arg index="2" ref="serviceManager"/>
        <constructor-arg index="3" ref="lockingManager"/>
    </bean>
    <bean id="activator" class="classes.activator.Activator" init-method="start">
        <property name="activeServiceManager" ref="activeServiceManager"/>
    </bean>
    <context:component-scan
            base-package="classes">
    </context:component-scan>

    <!--   <bean id="activeServicesDescriptions" class="classes.processors.impl.GetActiveServicesDecriptionsProcessor">
       </bean>
       <bean id="allActiveServices" class="classes.processors.impl.GetAllActiveServicesProcessor">

       </bean>
       <bean id="allowedToConnect" class="classes.processors.impl.GetAllowedToConnectionProcessor">

       </bean>
       <bean id="allServices" class="classes.processors.impl.GetAllServicesProcessor">

       </bean>
       <bean id="allUsers" class="classes.processors.impl.GetAllUsersProcessor">

       </bean>
       <bean id="cancelLock" class="classes.processors.impl.CancelLockProcessor">

       </bean>
       <bean id="changeActiveService" class="classes.processors.impl.ChangeActiveServiceProcessor">

       </bean>
       <bean id="changeNewTariffDate" class="classes.processors.impl.ChangeNewTariffDateProcessor">

       </bean>
       <bean id="changeService" class="classes.processors.impl.ChangeServiceProcessor">

       </bean>
       <bean id="changeUser" class="classes.processors.impl.ChangeUserProcessor">

       </bean>
       <bean id="changeTariffActiveService" class="classes.processors.impl.ChangeTariffProcessor">

       </bean>
       <bean id="createActiveService" class="classes.processors.impl.CreateActiveServiceProcessor">

       </bean>
       <bean id="createService" class="classes.processors.impl.CreateServiceProcessor">

       </bean>
       <bean id="deleteActiveService" class="classes.processors.impl.DeleteActiveServiceProcessor">

       </bean>
       <bean id="deleteService" class="classes.processors.impl.DeleteServiceProcessor">
       </bean>
       <bean id="deleteUser" class="classes.processors.impl.DeleteUserProcessor">
       </bean>
       <bean id="getActiveServiceById" class="classes.processors.impl.GetActiveServiceByIdProcessor"/>
       <bean id="getHistoryDescriptions" class="classes.processors.impl.GetActiveServicesHistoryDescriptionsProcessor">

       </bean>
       <bean id="getHistory" class="classes.processors.impl.GetActiveServicesHistoryProcessor">
       </bean>
       <bean id="getServiceById" class="classes.processors.impl.GetServiceByIdProcessor">

    </bean>
       <bean id="logIn" class="classes.processors.impl.LogInUserProcessor">

       </bean>
       <bean id="mergeUser" class="classes.processors.impl.MergeUserProcessor">

       </bean>
       <bean id="searchUsersByParams" class="classes.processors.impl.SearchUsersProcessor">

       </bean>
       <bean id="searchUsersBySubparams" class="classes.processors.impl.SearchUsersBySubparamsProcessor">
       </bean>
       <bean id="signInUser" class="classes.processors.impl.CreateUserProcessor">
       </bean>
       <bean id="storeAllActiveServices" class="classes.processors.impl.ChangeActiveServicesProcessor">

       </bean>
       <bean id="theSameType" class="classes.processors.impl.GetServicesWithTheSameTypeProcessor">

       </bean>
       <bean id="userById" class="classes.processors.impl.GetUserByIdProcessor">

       </bean>-->
</beans>