<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>servlet.LogInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserServlet</servlet-name>
        <servlet-class>servlet.ChangeUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserServlet</servlet-name>
        <url-pattern>/ChangeUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowActiveServicesServlet</servlet-name>
        <servlet-class>servlet.ShowActiveServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowActiveServicesServlet</servlet-name>
        <url-pattern>/ShowActiveServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteActiveServiceServlet</servlet-name>
        <servlet-class>servlet.DeleteActiveServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteActiveServiceServlet</servlet-name>
        <url-pattern>/DeleteActiveServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAllowedToConnectServicesServlet</servlet-name>
        <servlet-class>servlet.ShowAllowedToConnectServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllowedToConnectServicesServlet</servlet-name>
        <url-pattern>/ShowAllowedToConnectServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddActiveServiceServlet</servlet-name>
        <servlet-class>servlet.AddActiveServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddActiveServiceServlet</servlet-name>
        <url-pattern>/AddActiveServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowProfilePageServlet</servlet-name>
        <servlet-class>servlet.ShowProfilePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowProfilePageServlet</servlet-name>
        <url-pattern>/ShowProfilePageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddServiceServlet</servlet-name>
        <servlet-class>servlet.AddServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServiceServlet</servlet-name>
        <url-pattern>/AddServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllServicesServlet</servlet-name>
        <servlet-class>servlet.AllServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllServicesServlet</servlet-name>
        <url-pattern>/AllServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeServiceServlet</servlet-name>
        <servlet-class>servlet.ChangeServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeServiceServlet</servlet-name>
        <url-pattern>/ChangeServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>servlet.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/DeleteServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeActiveServiceServlet</servlet-name>
        <servlet-class>servlet.ChangeActiveServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeActiveServiceServlet</servlet-name>
        <url-pattern>/ChangeActiveServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeActiveServiceRespServlet</servlet-name>
        <servlet-class>servlet.ChangeActiveServiceRespServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeActiveServiceRespServlet</servlet-name>
        <url-pattern>/ChangeActiveServiceRespServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeServiceRespServlet</servlet-name>
        <servlet-class>servlet.ChangeServiceRespServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeServiceRespServlet</servlet-name>
        <url-pattern>/ChangeServiceRespServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAllServicesServlet</servlet-name>
        <servlet-class>servlet.ShowAllServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllServicesServlet</servlet-name>
        <url-pattern>/ShowAllServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackServlet</servlet-name>
        <servlet-class>servlet.BackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackServlet</servlet-name>
        <url-pattern>/BackServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAllUsersServlet</servlet-name>
        <servlet-class>servlet.GetAllUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllUsersServlet</servlet-name>
        <url-pattern>/GetAllUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserByAdminServlet</servlet-name>
        <servlet-class>servlet.ChangeUserByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserByAdminServlet</servlet-name>
        <url-pattern>/ChangeUserByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserByAdminRespServlet</servlet-name>
        <servlet-class>servlet.ChangeUserByAdminRespServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserByAdminRespServlet</servlet-name>
        <url-pattern>/ChangeUserByAdminRespServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeActiveServiceByAdminServlet</servlet-name>
        <servlet-class>servlet.ChangeActiveServiceByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeActiveServiceByAdminServlet</servlet-name>
        <url-pattern>/ChangeActiveServiceByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeActiveServiceByAdminRespServlet</servlet-name>
        <servlet-class>servlet.ChangeActiveServiceByAdminRespServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeActiveServiceByAdminRespServlet</servlet-name>
        <url-pattern>/ChangeActiveServiceByAdminRespServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteActiveServiceByAdminServlet</servlet-name>
        <servlet-class>servlet.DeleteActiveServiceByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteActiveServiceByAdminServlet</servlet-name>
        <url-pattern>/DeleteActiveServiceByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowActiveServicesByAdminServlet</servlet-name>
        <servlet-class>servlet.ShowActiveServicesByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowActiveServicesByAdminServlet</servlet-name>
        <url-pattern>/ShowActiveServicesByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddActiveServiceByAdminServlet</servlet-name>
        <servlet-class>servlet.AddActiveServiceByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddActiveServiceByAdminServlet</servlet-name>
        <url-pattern>/AddActiveServiceByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAllowedToConnectServicesByAdminServlet</servlet-name>
        <servlet-class>servlet.ShowAllowedToConnectServicesByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllowedToConnectServicesByAdminServlet</servlet-name>
        <url-pattern>/ShowAllowedToConnectServicesByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAdminPageServlet</servlet-name>
        <servlet-class>servlet.ShowAdminPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAdminPageServlet</servlet-name>
        <url-pattern>/ShowAdminPageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserInfoByAdminServlet</servlet-name>
        <servlet-class>servlet.ChangeUserInfoByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserInfoByAdminServlet</servlet-name>
        <url-pattern>/ChangeUserInfoByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>servlet.ExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/ExportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImportServlet</servlet-name>
        <servlet-class>servlet.ImportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportServlet</servlet-name>
        <url-pattern>/ImportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>servlet.ErrorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTheSameTypeByCurrentServiceServlet</servlet-name>
        <servlet-class>servlet.GetTheSameTypeByCurrentServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetTheSameTypeByCurrentServiceServlet</servlet-name>
        <url-pattern>/GetTheSameTypeByCurrentServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TariffChangeServlet</servlet-name>
        <servlet-class>servlet.TariffChangeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TariffChangeServlet</servlet-name>
        <url-pattern>/TariffChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TariffChangeByAdminServlet</servlet-name>
        <servlet-class>servlet.TariffChangeByAdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TariffChangeByAdminServlet</servlet-name>
        <url-pattern>/TariffChangeByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTheSameTypeByCurrentServiceByAdminServlet</servlet-name>
        <servlet-class>servlet.GetTheSameTypeByCurrentServiceByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTheSameTypeByCurrentServiceByAdminServlet</servlet-name>
        <url-pattern>/GetTheSameTypeByCurrentServiceByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelChangeTariffServletByAdmin</servlet-name>
        <servlet-class>servlet.CancelChangeTariffServletByAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelChangeTariffServletByAdmin</servlet-name>
        <url-pattern>/CancelChangeTariffServletByAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelChangeTariffServlet</servlet-name>
        <servlet-class>servlet.CancelChangeTariffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelChangeTariffServlet</servlet-name>
        <url-pattern>/CancelChangeTariffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActionWithActiveServiceServlet</servlet-name>
        <servlet-class>servlet.ActionWithActiveServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionWithActiveServiceServlet</servlet-name>
        <url-pattern>/ActionWithActiveServiceServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>servlet.SearchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActionWithActiveServiceByAdminServlet</servlet-name>
        <servlet-class>servlet.ActionWithActiveServiceByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionWithActiveServiceByAdminServlet</servlet-name>
        <url-pattern>/ActionWithActiveServiceByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowActiveServicesHistoryServlet</servlet-name>
        <servlet-class>servlet.ShowActiveServicesHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowActiveServicesHistoryServlet</servlet-name>
        <url-pattern>/ShowActiveServicesHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeNewTariffDateServlet</servlet-name>
        <servlet-class>servlet.ChangeNewTariffDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeNewTariffDateServlet</servlet-name>
        <url-pattern>/ChangeNewTariffDateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeNewTariffDateByAdminServlet</servlet-name>
        <servlet-class>servlet.ChangeNewTariffDateByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeNewTariffDateByAdminServlet</servlet-name>
        <url-pattern>/ChangeNewTariffDateByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowServiceDetailsServlet</servlet-name>
        <servlet-class>servlet.ShowServiceDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowServiceDetailsServlet</servlet-name>
        <url-pattern>/ShowServiceDetailsServlet</url-pattern>
    </servlet-mapping>


</web-app>