<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>servlet.LogInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserServlet</servlet-name>
        <servlet-class>servlet.ChangeUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserServlet</servlet-name>
        <url-pattern>/ChangeUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowActiveServicesPage</servlet-name>
        <servlet-class>servlet.ShowActiveServicesPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowActiveServicesPage</servlet-name>
        <url-pattern>/ShowActiveServicesPage</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>DeleteActiveServiceServlet</servlet-name>
    <servlet-class>servlet.DeleteActiveServiceServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteActiveServiceServlet</servlet-name>
<url-pattern>/DeleteActiveServiceServlet</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>ShowAllowedToConnectServiceServlet</servlet-name>
        <servlet-class>servlet.ShowAllowedToConnectServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> ShowAllowedToConnectServiceServlet</servlet-name>
        <url-pattern>/ShowAllowedToConnectServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddActiveServiceServlet</servlet-name>
        <servlet-class>servlet.AddActiveServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddActiveServiceServlet</servlet-name>
        <url-pattern>/AddActiveServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowProfilePageServlet</servlet-name>
        <servlet-class>servlet.ShowProfilePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowProfilePageServlet</servlet-name>
        <url-pattern>/ShowProfilePageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAdminServlet</servlet-name>
        <servlet-class>servlet.AddAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAdminServlet</servlet-name>
        <url-pattern>/AddAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddServiceServlet</servlet-name>
        <servlet-class>servlet.AddServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServiceServlet</servlet-name>
        <url-pattern>/AddServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllServicesServlet</servlet-name>
        <servlet-class>servlet.AllServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllServicesServlet</servlet-name>
        <url-pattern>/AllServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeServiceServlet</servlet-name>
        <servlet-class>servlet.ChangeServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeServiceServlet</servlet-name>
        <url-pattern>/ChangeServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CnangeServiceRespServlet</servlet-name>
        <servlet-class>servlet.CnangeServiceRespServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CnangeServiceRespServlet</servlet-name>
        <url-pattern>/CnangeServiceRespServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>servlet.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/DeleteServiceServlet</url-pattern>
    </servlet-mapping>
</web-app>