<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@Localhost:1521:orcldb1</property>
        <property name="hibernate.connection.username">sys as sysdba</property>
        <property name="hibernate.connection.password">ada100986</property>
        <!-- <mapping resource="user.hbm.xml"/>-->
        <mapping class="classes.model.User"/>
        <mapping class="classes.model.Service"/>
        <mapping class="classes.model.ActiveService"/>
    </session-factory>
</hibernate-configuration>