<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean id="idGenerator" class="classes.idgenerator.IdGeneratorSingletonDB" factory-method="getInstance"/>
    <bean id="userStorage" class="classes.model.behavior.storages.impl.DBUserStorage"/>
    <bean id="userManager" class="classes.model.behavior.managers.UserManager">
        <constructor-arg name="userStorage" ref="userStorage"/>
        <constructor-arg name="idGenerator" ref="idGenerator"/>
    </bean>

    <!-- <bean id="serviceStorage" class="classes.model.behavior.storages.impl.DBServiceStorage"/>-->
    <bean id="serviceStorage" class="classes.model.behavior.storages.impl.DBServiceStorage"/>
    <bean id="serviceManager" class="classes.model.behavior.managers.ServiceManager">
        <constructor-arg name="serviceStorage" ref="serviceStorage"/>
        <constructor-arg name="idGenerator" ref="idGenerator"/>
        <property name="activeServiceManager" ref="activeServiceManager"/>
    </bean>

    <bean id="activeServiceStorage" class="classes.model.behavior.storages.impl.DBActiveServiceStorage"/>
    <bean id="activeServiceManager" class="classes.model.behavior.managers.ActiveServiceManager">
        <constructor-arg name="activeServiceStorage" ref="activeServiceStorage"/>
        <constructor-arg name="idGenerator" ref="idGenerator"/>
        <constructor-arg name="serviceManager" ref="serviceManager"/>
        <property name="activator" ref="activator"/>
    </bean>

    <bean id="lockingManager" class="classes.model.behavior.managers.LockingManager">
        <constructor-arg name="userManager" ref="userManager"/>
        <constructor-arg name="activeServiceManager" ref="activeServiceManager"/>
        <constructor-arg name="serviceManager" ref="serviceManager"/>
        <constructor-arg name="typeOfLock" value="optimistic"/>
    </bean>
    <bean id="jmsManager" class="classes.model.behavior.managers.JmsManager">

    </bean>
    <bean id="initializer" class="classes.processors.Initializer">
        <constructor-arg index="0" ref="userManager"/>
        <constructor-arg index="1" ref="activeServiceManager"/>
        <constructor-arg index="2" ref="serviceManager"/>
        <constructor-arg index="3" ref="lockingManager"/>
        <constructor-arg index="4" ref="jmsManager"/>
    </bean>
    <bean id="activator" class="classes.activator.Activator" init-method="start">
        <property name="activeServiceManager" ref="activeServiceManager"/>
    </bean>
    <context:component-scan
            base-package="classes">
    </context:component-scan>
</beans>